$gray: #333333;

@font-face {
  font-family: "Inter";
  src: url("./static/fonts/Inter.woff") format("woff");
}

html {
  font-family: "Inter";
  color: $gray
}

body {
  margin: 0;
}

* {
  touch-action: manipulation;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

::selection {
  color: white;
  background: $gray;
}

// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
