$gray: #333333;
$lightGray: #F2F2F2;

@font-face {
  font-family: "Inter";
  src: url("../static/fonts/Inter.woff") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../static/fonts/Inter-ExtraBold.woff") format("woff");
}

$bodyWidthMobile: 89%;

.headline {
  font-family: "Inter Extra Bold";
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.025em;
  width: $bodyWidthMobile;
  margin: 0 auto;
  padding-bottom: 48px;
}

.headlineDesktop {
  @extend .headline;
  visibility: hidden;
  height: 0;
  padding: 0;
}

.subheading {
  padding-bottom: 24px;
  width: $bodyWidthMobile;
  margin: 0 auto;
}

.getInTouchContainer {
  width: $bodyWidthMobile;
  margin: 0 auto;
  padding-bottom: 48px;
}

.projectSection {
  border-top: 1px solid #F2F2F2;
  padding-top: 48px;
}

.projectImg1 {
  width: $bodyWidthMobile;
  margin: 0 auto;
  margin-bottom: 48px;
  display: block;
}

.projectImg2 {
  @extend .projectImg1;
  margin-bottom: 24px;
}

.projectSectionText {
  width: $bodyWidthMobile;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 95px;
}

.projectSectionTextDesktop {
  @extend .projectSectionText;
  display: none;
}

.projectSectionTextLink {
  text-decoration: none;
  color: $gray;
  font-family: "Inter";
  font-weight: bold;
}

.clickHereText {
  margin-left: 0.5ch;
}

.footer {
  width: 100%;
  background: $gray;
  padding-top: 72px;
}

.footerInner {
  width: $bodyWidthMobile;
  margin: 0 auto;
}

.profilePicture {
  margin-right: 16px;
  margin-bottom: 32px;
}

.footerText {
  color: $lightGray;
  padding-bottom: 96px;
}

.footerTextBreak {
  height: 30px;
}

.footerEmailLink {
  @extend .projectSectionTextLink;
  color: $lightGray;
}

$responsiveBreakpoint: 600px;
$desktopBreakpoint: 1100px;

// tablet and up
@media only screen and (min-width: $responsiveBreakpoint) {
  .headline {
    visibility: hidden;
    height: 0;
    padding: 0;
  }
  .headlineDesktop {
    visibility: initial;
    height: initial;
    padding-bottom: 48px;
  }
  .projectSectionInnerDesktop {
    margin: 0 auto;
    overflow: hidden;
  }
  .projectImg1 {
    float: left;
    margin: initial;
  }
  .projectImg2 {
    margin-left: 16px;
  }
  .projectSectionText {
    display: none;
  }
  .projectSectionTextDesktop {
    float: left;
    display: initial;
    margin-top: 24px;
  }
  .projectSectionTextSpacer {
    float: left;
    width: 16px;
    height: 1px;
  }
  .footerInner {
    overflow: hidden;
  }
  .profilePicture {
    float: left;
    width: 72px;
  }
  .footerTextBreak {
    display: inline;
    margin-right: 0.5ch;
  }
  .clickHereText {
    margin-left: initial;
  }
}
// end of tablet and up

// tablet/phone (landscape)
@media only screen and (min-width: $responsiveBreakpoint) and (max-width: $desktopBreakpoint) {
  $bodyWidthTablet: 70%;
  $projectSectionContentWidth: 48%;
  
  .headlineDesktop {
    font-size: 44px;
    line-height: 140%;
    width: $bodyWidthTablet;
  }
  .subheading {
    width: $bodyWidthTablet;
    font-size: 18px;
  }
  .subheadingInner {
    width: 70%;
  }
  .getInTouchContainer {
    width: $bodyWidthTablet;
    padding-bottom: 90px;
  }
  .projectSectionInnerDesktop {
    width: $bodyWidthTablet;
    padding-top: 15px;
  }
  .projectImg1 {
    width: $projectSectionContentWidth;
  }
  .projectSectionTextDesktop {
    width: $projectSectionContentWidth;
    font-size: 16px;
    padding-bottom: 70px;
  }
  .footerInner {
    width: $bodyWidthTablet;
    margin-top: 40px;
    padding-bottom: 75px;
  }
  .profilePicture {
    width: 12%;
    margin-top: 6px;
    margin-right: 1.5%;
  }
  .footerText {
    float: left;
    width: 69%;
    font-size: 16px;
    margin-left: 16px;
  }
}
// end of tablet

// desktop
@media only screen and (min-width: $desktopBreakpoint) {
  $bodyWidthDesktop: 784px;
  
  .headlineDesktop {
    font-size: 56px;
    line-height: 138%;
    width: $bodyWidthDesktop;
  }
  .subheading {
    width: $bodyWidthDesktop;
    font-size: 20px;
  }
  .subheadingInner {
    width: 60%;
  }
  .getInTouchContainer {
    width: $bodyWidthDesktop;
    padding-bottom: 144px;
  }
  .projectSectionInnerDesktop {
    width: $bodyWidthDesktop;
    padding-top: 20px;
  }
  .projectImg1 {
    width: 384px;
  }
  .projectSectionTextDesktop {
    width: 384px;
    font-size: 18px;
  }
  .footerInner {
    width: $bodyWidthDesktop;
    margin-top: 20px;
    padding-bottom: 90px;
  }
  .footerText {
    float: left;
    width: 590px;
    margin-top: 10px;
  }
}
// end of desktop
