$gray: #333333;
$lightGray: #F2F2F2;

@font-face {
  font-family: "Inter";
  src: url("../static/fonts/Inter.woff") format("woff");
}

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../static/fonts/Inter-ExtraBold.woff") format("woff");
}

$bodyWidthMobile: 368px;

.headline {
  font-family: "Inter Extra Bold";
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.025em;
  width: $bodyWidthMobile;
  margin: 0 auto;
  padding-bottom: 48px;
}

.headlineDesktop {
  @extend .headline;
  display: none;
}

.subheading {
  width: $bodyWidthMobile;
  margin: 0 auto;
  padding-bottom: 24px;
}

.getInTouchContainer {
  width: $bodyWidthMobile;
  margin: 0 auto;
  padding-bottom: 48px;
}

.projectSection {
  border-top: 1px solid #F2F2F2;
  padding-top: 48px;
}

.projectImg1 {
  width: $bodyWidthMobile;
  margin: 0 auto;
  margin-bottom: 48px;
  display: block;
}

.projectImg2 {
  @extend .projectImg1;
  margin-bottom: 24px;
}

.projectSectionText {
  width: $bodyWidthMobile;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 95px;
}

.projectSectionTextLink {
  text-decoration: none;
  color: $gray;
  font-family: "Inter";
  font-weight: bold;
}

.footer {
  background: $gray;
  padding-top: 72px;
}

.footerInner {
  width: $bodyWidthMobile;
  margin: 0 auto;
}

.profilePicture {
  margin-right: 16px;
  margin-bottom: 32px;
}

.footerText {
  color: $lightGray;
  padding-bottom: 96px;
}

.footerTextBreak {
  height: 30px;
}

.footerEmailLink {
  @extend .projectSectionTextLink;
  color: $lightGray;
}

// tablet/phone (landscape)
@media only screen and (min-width: 896px) and (max-width: 1440px) {
  
}

// desktop
@media only screen and (min-width: 1440px) {
  $bodyWidthDesktop: 784px;
  
  .headline {
    display: none;
  }
  .headlineDesktop {
    font-size: 56px;
    line-height: 138%;
    width: $bodyWidthDesktop;
    //display: initial;
  }
}
