$gray: #333333;
$lightGray: #F2F2F2;

@font-face {
  font-family: "Inter Extra Bold";
  src: url("../static/fonts/Inter-ExtraBold.woff") format("woff");
}

.headline {
  font-family: "Inter Extra Bold";
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.025em;
  width: 368px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.subheading {
  width: 368px;
  margin: 0 auto;
  padding-bottom: 24px;
}

.getInTouchContainer {
  width: 368px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.projectSection {
  border-top: 1px solid #F2F2F2;
  padding-top: 48px;
  text-align: center;
}

.projectImg1 {
  width: 368px;
  margin-bottom: 48px;
}

.projectImg2 {
  @extend .projectImg1;
  margin-bottom: 24px;
}

.projectSectionText {
  width: 368px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 95px;
}

.footer {
  background: $gray;
  padding-top: 72px;
}

.footerInner {
  width: 368px;
  margin: 0 auto;
}

.profilePicture {
  margin-right: 16px;
  margin-bottom: 32px;
}

.footerText {
  color: $lightGray;
  padding-bottom: 96px;
}

.footerTextBreak {
  height: 30px;
}
