// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  position: relative;
  height: 170px;
}

.navbarInner {
  position: relative;
  width: 368px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 27px;
  left: 0px;
}

.hamburger {
  position: absolute;
  top: 25px;
  right: 0px;
}

.hamburgerTouchTarget {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 70px;
}

.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100px;
  background: white;
  text-align: right;
  display: none;
}

.xButton {

}

.menuItem {

}
