// stops blue selection for tapping of links in mobile
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 170px;
}

.logo {
  position: absolute;
  top: 27px;
  left: 23px;
}

.hamburger {
  position: absolute;
  top: 25px;
  right: 33px;
}

.hamburgerTouchTarget {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 90px;
  height: 70px;
}
